.navbar {
  background-color: white;
}

.list_item {
  color: black;
  font-size: larger;
}

.logotype {
  color: #046e1b;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
